<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>お問い合わせ</h1>
<form method="post" th:action="@{/inquiry/complete}" th:object="${inquiryRequest}"></form>
<form method="post" th:action="@{/inquiry/confirm}" th:object="${inquiryRequest}">

       <label>ご連絡先メールアドレス</label><br>
          <input name="userEmail" type="text" th:value="*{userEmail}"><br>
        <label>お問い合わせ内容</label><br>
    <input name="inquiryContent" th:value="*{inquiryContent}"></input><br>
    <input type="submit" value="送信">
</form>
    
</body>
</html>